extends layout

block content
  h2 Share a New Video
  form(action="/video/new" method="POST")
    label(for="url") YouTube URL:
    input(type="url" name="url" required)
    br
    label(for="title") Title:
    input(type="text" name="title" required)
    br
    button(type="submit") Add Video
