body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}


input, button {
  margin: 5px 0;
  padding: 8px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
}

